* {
    box-sizing: border-box;
}

.space {
    margin-left: 400px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.menu {
    float: left;
    margin-top: 35px;
    /*width: 30%;*/
    vertical-align: top;
    width: 500px;
}

.button {
    margin-left: 23px;
}

.div {
    margin-bottom: 20px;
}

.text {
    margin-left: 23px;
    font-size: 1em;
}

.title {
    font-size: 2.5em;
    /*margin-top: 35px;*/
    position: absolute;
    border-radius: 3px;
    margin: 35px 400px auto;
}