* {
    box-sizing: border-box;
}

.space {
    margin-left: 400px;
    width: 500px;
    margin-bottom: 20px;
}

.menu {
    float: left;
    margin-top: 35px;
    /*width: 30%;*/
    vertical-align: top;
}

.button {
    margin-left: 23px;
}

.div {
    margin-bottom: 20px;
}

.text {
    margin-left: 23px;
    font-size: 1em;
}