* {
    box-sizing: border-box;
}

.profile {
    font-size: 2.5em;
    margin-top: 35px;
    margin-left: 400px;
}

.menu {
    float: left;
    margin-top: 35px;
    /*width: 30%;*/
    vertical-align: top;
}

.space {
    margin-left: 400px;
    width: 500px;
}

.menu_items {
    width: 300px;
    margin-left: 10px;
}